@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;800&display=swap");

:root {
  --primary-color: #3a86ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

#loading_msg,
#blocked_msg {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

#loading_msg {
  padding: 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
}

#blocked_msg {
  padding: 20px;
  background-color: tomato;
  color: white;
  border-radius: 5px;
}
