@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;800&display=swap");

:root {
  --primary-color: #3a86ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

#loading_msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: var(--primary-color);
}
